.estilo-tex{
    width: 200px;
}

.estilo-titulo{
    text-align: center;
    font-size: 50px;
}

.estilo-subtitulo{
    text-align: center;
    font-size: 30px;
    color:blue;
}

.usuario{
    font-size: 30px;
}


.contraseña{
    font-size: 30px;
}
